#a{
    padding-top:  50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: blueviolet;
    width: 500px;
    height: 500px;
    box-sizing: border-box;

}

#b{
    padding-top: 0;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(30, 206, 136);
    width: 500px;
    height: 500px;
    box-sizing: border-box;

}
